// Using
$primaryBackground: rgb(10, 24, 61);
$secondaryBackground: rgb(8, 25, 45);

$primaryWhite: rgba(#ffffff, 0.87);
$primaryBlack: #343a406c;

$light: #f8f9fa;
$dark: #343a40;
$white: #fff;

$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

// SideNav Only
$dropShadowColor: rgb(206, 205, 205);
$listItemColor: rgba(238, 238, 238, 0.521);
$listItemColorLighter: rgba(238, 238, 238, 0.336);
$listActiveColor: #adadad;

@mixin sectionSize {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin successColor {
    background-color: #ecfdf3;
    color: #10913b;
}

@mixin errorColor {
    background-color: #fff0f0;
    color: #e60000;
}

@mixin infoColor {
    background-color: #f0f8ff;
    color: #2c87e1;
}

@mixin warningColor {
    background-color: #fffcf0;
    color: #dc7609;
}
